body{
    /* background-color: #da89a48a; */
    background-image: linear-gradient(to bottom right, #655c8aa4, #da89a48a);
    
}
section{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input {
    padding: 5px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #a399cd;
    background-color: #e8cfd7;
    border-radius: 4px;
  }

  textarea{
    padding: 8px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #a399cd;
    background-color: #e8cfd7;
    border-radius: 4px;
    resize: none;
  }

  h2{
    text-decoration: underline;
    font-family:system-ui, -apple-system;
  }